@namespace Test.Hr.Components

@using Microsoft.Extensions.Caching.Memory
@using Library.Cqrs.Models.Queries
@using Library.Cqrs.Models.Commands
@using HanyCo.Infra.Security.Model
@using HanyCo.Infra.Blazor
@using Test.Hr.ViewModels

@inject IQueryProcessor _queryProcessor
@inject ICommandProcessor _commandProcessor
@inject IMemoryCache _memoryCache
@inject IUserContext _userContext

@inherits ComponentBase<List<PersonViewModel>, PersonViewModel>

<table id='Test.Hr.ViewModels.PersonViewModelGrid' name='Test.Hr.ViewModels.PersonViewModelGrid'>
    <thead>
    <tr/>
</thead>
    <tbody>
@if (this.DataContext is not null)
  @foreach (var item in this.DataContext)
  {
    <tr>
    <td/>
    <td>@item.Id</td>
    <td>@item.FirstName</td>
    <td>@item.LastName</td>
    <td>@item.DateOfBirth</td>
    <td>@item.Height</td>
    <td>
<th name='Id'>Id</th>
<th name='FirstName'>First Name</th>
<th name='LastName'>Last Name</th>
<th name='DateOfBirth'>Date Of Birth</th>
<th name='Height'>Height</th></td>
</tr>
  }
</tbody>
</table>