
@page "/person"

@namespace Test.Hr.Pages

@using Microsoft.Extensions.Caching.Memory
@using Library.Cqrs.Models.Queries
@using Library.Cqrs.Models.Commands
@using HanyCo.Infra.Security.Model
@using Test.Hr

@inject IQueryProcessor _queryProcessor
@inject ICommandProcessor _commandProcessor
@inject IMemoryCache _memoryCache
@inject IUserContext _userContext

@HanyCo.Infra.Blazor.PageBase<PersonViewModel>


<div class='row'>
    <PeopleListComponent DataContext='@this.DataContext?.PeopleListDto' PageDataContext='@this.DataContext'/>
    <PersonDetailsComponent DataContext='@this.DataContext?.PersonDetailsDto' PageDataContext='@this.DataContext'/>
</div>

